/* Add additional stylesheets below
-------------------------------------------------- */

body{
    padding:0px;
    margin:0px;
    font-family:Roboto;
    background:url(https://i.imgur.com/ZrF0IiF.jpg);
    background-size:100%;
    background-repeat:no-repeat;
}

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
    float: left;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

#player tr{
    height:20px;
}

#player td{
    width:20px;
}

td:hover {
    background-color: gray;
    cursor:pointer;
}

.placed {
    background-color: gray;
}
.empty {
    background-color: gray;
}
.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}

.alert alert-danger {
    background-color: yellow;
    border: 2px solid black;
    height: 400px;
    width: 800px;
    padding: 20px;
    text-align: center;
    float: left;
}

.header {
    color: blue;
    font: Arial;
    font-weight: 900;
    text-align: center;
 }

 .gameContainer{
    background:white;
    border: 1px solid black;
    padding:30px;
    display:flex;
    flex-flow:column wrap;
    position:absolute;
    top:10%;
    left:25%;
    box-shadow:2px 2px 1px grey;
 }

.majorGameContainer{
    display:flex;
    flex-flow:row wrap;
}

.informationContainer{
    background:white;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    box-shadow:2px 2px 1px grey;
    position:absolute;
    top:10%;
    left:10%;
}

 .playerTables{
    display:flex;
    flex-flow: row wrap;
 }

 .individualTable{
    padding:10px;
    margin-right 5px;
    margin-left: 5px;
    display:flex;
    flex-flow:column wrap;
 }

 .titleBar{
    color:white;
    margin:0px;
    background-color:#319df6;
    height:50px;
    font-size:30px;
    padding-top:10px;
 }

.gameTitle{
    margin-left:45%;
    text-shadow:
        		-1px -1px 0 #000,
        		1px -1px 0 #000,
        		-1px 1px 0 #000,
        		1px 1px 0 #000;
        		font-weight: bold;
}

.container{
    padding:0px;
    margin: 0px;
 }

 footer{
    position:absolute;
    bottom:5%;
    right:2%;
    background-color:white;
    padding:20px;
    box-shadow:2px 2px 1px grey;
    border: 1px solid black;
 }

 .footContainer{
    background-color:white;
 }

 .containerGameTitle{
    margin-left:30%;
 }

 #is_vertical{
    visibility:hidden;
 }

 .shipPlacementPanel{
    display:flex;
    flex-flow:column wrap;
 }

.shipPicture{
    margin-top: 5px;
    margin-left:0;
}

 .shipPicture:hover{
    border: 4px solid grey;
    cursor:pointer;
 }

.captainQuarters {
    background-color: green;
}


.sonarPulse{
    margin-top: 5px;
    margin-left:0;
}

 .sonarPulse:hover{
    border: 4px solid grey;
    cursor:pointer;
 }

.sonarPulse empty {
    background-color: grey;
}

.sonarPulse occupied {
    background-color: black;
}

