<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    

<div class="majorGameContainer">

<div class="gameContainer">
    <div class="containerGameTitle">
<h1>The Battleship game</h1>
    </div>


<div class="playerTables">
    <div class="individualTable">
        <h2>Enemy <span id="enemyBoardName">Surface</span> Board</h2>
        <table id="opponent" class="battleGrid">
        </table>
        <div>
            ↑ or ↓ : place ship vertically.
        </div>
        <div>
            ← or → : place ship horizontally.
        </div>
        <div class="shipPlacementPanel">
            <div class="shipPicture" id="switch_boards">
                <img src="https://i.imgur.com/mM4zpZE.jpg" height="30px" weight="30px"></img>
                <div>Switch View between surface and sub board</div>
            </div>
        </div>
    </div>

    <div class="individualTable">
        <h2>My <span id="playerBoardName">Surface</span> Board</h2>
        <table id="player" class="battleGrid">
        </table>

        <div class="shipPlacementPanel">
            <div class="shipPicture" id="place_minesweeper">
                <img src="https://i.imgur.com/nfQDEHW.jpg" height="30px" weight="30px"></img>
                <div>Place minesweeper</div>
            </div>
            <div class="shipPicture" id="place_destroyer">
                <img src="https://i.imgur.com/Qq26Eek.jpg" height="30px" weight="30px"></img>
                <div>Place destroyer</div>
            </div>
            <div class="shipPicture" id="place_battleship">
                <img src="https://i.imgur.com/JhXKWWm.jpg" height="30px" weight="30px"></img>
                <div>Place battleship</div>
            </div>
            <div class="shipPicture" id="place_submarine">
                <img src="https://i.imgur.com/nfQDEHW.jpg" height="30px" weight="30px"></img>
                <div>Place Submarine</div>
            </div>

            <div class="sonarPulse" id="sonar_pulse">
                <img src="https://i.imgur.com/P18As6Z.png" height="30px" weight="30px"></img>
                <div>Use sonar pulse</div>
            </div>

        </div>


        </div>
        <div class="shipPlacementPanel">


        <input type="checkbox" id="is_vertical"></input>
    </div>

</div>

</div>

<div class="informationContainer">
    <div class = "squareTutorial">
        <table class="battleGrid">
            <tr><td class="occupied"></td>Placed Ship</tr>
        </table>

    </div>
    <div class = "squareTutorial">
    <table class="battleGrid">
        <tr><td class="captainQuarters"></td>Captain Quarter</tr>
    </table>

    </div>

    <div class = "squareTutorial">
        <table class="battleGrid">
            <tr><td class="miss"></td>Missed Hit</tr>
        </table>

    </div>

    <div class = "squareTutorial">
        <table class="battleGrid">
            <tr><td class="hit"></td>Hit Succeed</tr>
        </table>

    </div>

    <div class = "squareTutorial">
        <table class="battleGrid">
            <tr><td class="sink"></td>Ship Sunk</tr>
        </table>

    </div>

    <div class = "textTutorial">
        Only submarine can be placed in the sub board. However, it can still placed at the surface of the sea.
    </div>

    <div class = "textTutorial">
        Sonar pulse would be available after successfully sinking one enemy's ship.
    </div>

    <div class = "textTutorial">
        Your bomb would be upgraded to space lasers once you have successfully sunk one enemy's ship. Space lasers can attack the surface board and sub board at the same time.
    </div>

    <div class = "textTutorial">
        Once you have sunk two enemy ships, you can move your fleet by clicking the panel of moving as it pops up.
    </div>

    </div>

    <div class = "shiftContainer">
        <div class = shiftTitle>
            Shift Fleet
        </div>

        <div class = "shiftPic" id = "north">
            <img src = "http://cdn.onlinewebfonts.com/svg/img_19195.png" height = "50px">
        </div>

        <div class = "midCompass">
            <div class = "shiftPic" id = "west">
                <img src = "http://cdn.onlinewebfonts.com/svg/img_15726.png" height="50px">
            </div>
            <div class = "shiftPic" id = "east">
                <img src = "http://cdn.onlinewebfonts.com/svg/img_15734.png" height = "50px">
            </div>
        </div>

        <div class = "shiftPic" id = "south">
            <img src = "http://cdn.onlinewebfonts.com/svg/img_15731.png" height = "50px">
        </div>

        <div class = "shiftExplanation">
            Click on arrow in desired direction to shift your fleet.
        </div>
    </div>

</div>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
    document.onkeydown = function(event){
        var kbCode = event.keyCode;
        if(kbCode==38 || kbCode == 40){
            var vertical_box = document.getElementById("is_vertical");
            vertical_box.checked = true;
        }
        if(kbCode==37 || kbCode == 39){
            var vertical_box = document.getElementById("is_vertical");
            vertical_box.checked = false;
        }
    }
</script>

</@layout.myLayout>